
.header {
    background: var(--viridian-green);
    padding-block: 20px;
    height: 88px;
    overflow: hidden;
    transition: 0.25s var(--cubic-out);
  }
  
  .header.active {
    height: 425px;
    transition-duration: 0.35s;
  }
  
  .header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: var(--white-1);
    font-size: var(--fs-2);
    font-weight: var(--fw-600);
  }
  
  .nav-toggle-btn.active .open,
  .nav-toggle-btn .close { display: none; }
  
  .nav-toggle-btn .open,
  .nav-toggle-btn.active .close { display: block; }
  
  .nav-toggle-btn ion-icon {
    color: var(--white-1);
    font-size: 35px;
    --ionicon-stroke-width: 40px;
  }
  
  .navbar {
    width: 100%;
    padding: 20px 10px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
  }
  
  .header.active .navbar {
    opacity: 1;
    visibility: visible;
  }
  
  .navbar-list { margin-bottom: 15px; }
  
  .navbar-link {
    color: var(--white-1);
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    padding-block: 10px 0;
    border-bottom: 2px solid transparent;
    width: max-content;
  }
  
  .navbar-link:is(:hover, :focus) { border-color: var(--white-1); }
  
  
  
  
  